li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  /* background-image: ; */
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: rgb(28, 233, 233);
}

.form-group {
  margin-bottom: 5px;
}
